.update_length_modal_content {
  /* background-color: var(--color-secondary); */
  color: var(--color-white);
  /* margin: 20px 40px 10px; */
  max-height: 100%;
  width: auto;
}

.update_length_modal_content .update_length_message {
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
  line-height: 22px;
}
.project_duration {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  margin: 0 6px 0 6px;
  /* word-break: break-all; */
}

.update_length_modal_content .update_length_modal_btns {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 30px 0;
}
