.SonicAccordion_container {
  color: var(--color-white);
}

.SonicAccordion_container .SonicAccordion_title .MuiTypography-root {
  font-size: 20px !important;
  font-family: var(--font-primary);
  color: var(--color-white);
}

.SonicAccordion_container .MuiAccordionDetails-root,
.SonicAccordion_container .SonicAccordion_title,
.SonicAccordion_container .MuiAccordionSummary-expandIcon {
  color: var(--color-white) !important;
}
.SonicAccordion_container .MuiAccordionSummary-expandIcon {
  scale: 2;
}
.SonicAccordion_container .MuiPaper-root {
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 50px !important;
}
