.google .navbar_img {
  /* height: 50px !important; */
  max-width: 55px !important;
  margin-bottom: 5px !important;
}

.google .project_grid_item .project_grid_asset {
  background-color: #e7eaee !important;
  border-top: solid 1px #393e44 !important;
}

.google .custom_tooltip .MuiTooltip-tooltip {
  background-color: #e7eaee !important;
}

.google .cs_image_icon img,
.google .instrument_volume_slider_container .instrument_volume_speaker_icon {
  filter: invert(1) !important;
}
.google .SonicModal_dialog .MuiPaper-root.MuiDialog-paper,
.google .SonicModal_dialog .MuiDialog-container .MuiPaper-root.MuiDialog-paper {
  background-color: #fff !important;
}

.google .sonicButton.filled,
.google .uploaderBlock .uploadBtn,
.google .ERROR p,
.google .CustomNotificationTopBar_text,
.google .CustomNotificationTopBar_text,
.google .instrument_volume_slider_container .SonicSliderInput + datalist option,
.google .instrument_volume_slider_container .slider_value_tooltip {
  color: #fff !important;
}
.google .sonicButton.outlined,
.google .loader_spinner_percentage,
.google .tick_inner,
.google #voice_add_menu .MuiMenu-paper .MuiMenuItem-root {
  color: #000 !important;
}

.google .ending_option_container .selected.sonicButton.outlined {
  color: var(--color-primary) !important;
}

.google .ending_option_container .selected.sonicButton.outlined:disabled {
  color: var(--color-secondary-shade11) !important;
}

.google .lds-default div {
  background-color: #000 !important;
}
.google #scroll_to_top_btn {
  stroke: var(--color-black) !important;
}

.google .dict_input_wrapper .disabled_dict_input,
.google .disabled_name {
  color: #999 !important;
}
.google .dict_action_btn_container .dict_delete_icon {
  fill: #000 !important;
}

.google
  .export_container
  .CardContent1
  .format_style.format_style_active
  svg.video_icon {
  fill: var(--color-primary) !important;
}
.google .export_container .CardContent1 .format_style svg.video_icon,
.google .dict_report_delete_icon {
  fill: var(--color-white) !important;
}

.google .sonicButton,
.google .boldFamily,
.google .format_style,
.google .nav_link {
  font-family: var(--font-primary-bold) !important;
  font-weight: normal !important;
}

.google .sonicButton.frashlyMadeButton,
.google .activeWSBtn.sonicButton.outlined {
  color: var(--color-primary) !important;
}

.google .custom_progress_bar_container .parent_div {
  background-color: var(--color-secondary-shade6) !important;
}

.google
  .timeline_voice_volume_slider_wrapper:hover
  .timeline_voice_volume_speaker_icon,
.google
  .timeline_voice_music_volume_slider_wrapper:hover
  .timeline_voice_volume_speaker_icon,
.google
  .timeline_music_volume_slider_wrapper:hover
  .timeline_voice_volume_speaker_icon,
.google .voice_card_tags_header_summary svg {
  filter: invert(1) !important;
}

.google .MuiSlider-valueLabel * {
  color: #fff !important;
}

.google .track_like_dislike svg path,
.google .track_like_dislike svg path {
  fill: #494b4c;
}

.google .cue_track_player_close_btn {
  filter: brightness(0) !important;
}

.google .brief-textarea {
  background-color: var(--color-bg) !important;
}
