.homePage_container {
  color: var(--color-white);
  width: 100%;
  height: auto;
  margin: 0px auto 20px;
  border-radius: 25px;
  overflow: hidden;
}

.homePage_container .header_container {
  margin: 30px 0px;
}

.homePage_container .header {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: var(--color-primary);
}

.homePage_container .sub_header {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: var(--color-white);
  margin-bottom: 5px;
}

.homePage_container .new-project {
  box-sizing: border-box;
  width: 421px;
  height: 201px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-secondary);
  cursor: pointer;
}

.homePage_container .new-project p {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
}
