.CueFooterPlayer_container {
  width: 100vw;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  background-color: var(--color-bg);
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0 40px;
  border: 1px solid var(--color-white);
  border-radius: 60px;
}

.hide_cueFooterPlayer_container {
  display: none;
}

.cue_track_title {
  font-size: 1.6rem;
  color: var(--color-white);
  white-space: nowrap;
  width: 560px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cue_track_player_close_btn {
  filter: brightness(1);
  cursor: pointer;
  scale: 1.2;
}
