.replace_voice_menu {
  /* background-color: var(--color-secondary); */
  color: var(--color-white);
  margin: 20px 40px 10px;
  max-height: 100%;
  width: 500px;
}

.replace_voice_menu .replace_voice_content {
  margin-top: 0px;
  font-size: 16px;
  width: 100%;
  line-height: 22px;
  font-family: var(--font-primary-light);
}
.replace_voice_menu .replace_voice_menu_header {
  margin: 25px 0px;
  font-size: 16px;
  font-weight: 700;
}
.replace_voice_menu .replace_voice_menu_btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0 15px;
}
.replace_voice_name {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  margin: 0 6px 0 2px;
}
