.custom_carousel_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

.custom_carousel_container .carousel_list {
  display: flex;
  gap: 40px;
  overflow: hidden;
  width: 100%;
  transition: all 0.2s;
  pointer-events: none;
}

.custom_carousel_container li {
  list-style: none;
}

.custom_carousel_container .arrow {
  cursor: pointer;
  transition: opacity 500ms;
  fill: var(--color-primary);
}

.custom_carousel_container span {
  pointer-events: auto;
  cursor: pointer;
}
