.AIMusicGeneratorSelectedOption_container {
  background-color: var(--color-secondary);
  border-radius: 20px;
  padding: 30px 40px;
  max-width: 700px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
