.MusicGenerationformContainer .fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.MusicGenerationformContainer .checkboxGrid {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
