.video_upload_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.video_upload_container .video_preview {
  width: calc(100% - 10px);
  border-radius: 5px;
  outline: 1px solid var(--color-primary);
  outline-offset: 5px;
  box-sizing: border-box;
  margin: 5px 0 0 10px;
}

.video_form_btn_container .sonicButton.filled {
  width: 100%;
}

pollingModal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pollingModal-dialog .pollingModal_header {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  color: var(--color-white) !important;
}

.pollingModal-dialog .pollingModal_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pollingModal_loader .lds-default {
  scale: 0.5;
  width: 80px;
  height: 40px;
}

.pollingModal_loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
