.voice_slider_timeline_wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.timeline_slider_tooltip {
  visibility: hidden;
  background-color: var(--color-bg);
  color: var(--color-white);
  border: 1px solid var(--color-white);
}
