.AppendSonicLogo_container {
  min-width: 750px;
}

.AppendSonicLogo_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppendSonicLogo_header h3 {
  font-size: 22px !important;
  color: var(--color-white);
  margin: 10px 0px 10px 0px;
}
.AppendSonicLogo_subheader {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.AppendSonicLogo_header p {
  font-size: 14px;
  color: #797979;
  text-align: center;
}

.AppendSonicLogo_zoom_icon_container {
  display: flex;
  gap: 20px;
}

.AppendSonicLogo_zoom_icons {
  font-size: 18px;
  color: var(--color-white);
}

.AppendSonicLogo_zoom_icon_container button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.AppendSonicLogo_zoom_icon_container button:disabled {
  color: var(--color-icon-inactive);
  cursor: not-allowed;
  opacity: 0.5;
}

.AppendSonicLogo_timestamp {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.AppendSonicLogo_curr-time {
  color: var(--color-primary);
}

.AppendSonicLogo_wave {
  flex: 1;
}

.AppendSonicLogo_main_container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0px;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}

.AppendSonicLogo_play_pause_btn {
  width: 65px;
}

.AppendSonicLogo_play_pause_cue_icon {
  background-color: transparent;
  border: none;
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}
.AppendSonicLogo_play_pause_cue_icon:disabled svg {
  cursor: progress;
  opacity: 0.5;
}

.AppendSonicLogo_cue_variant_spinner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
}

.AppendSonicLogo_btn_container {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  align-items: center;
}

.wavesurfer-region[data-id]::before {
  content: attr(title) " ";
  background-color: var(--color-white);
  border: none;
  color: var(--color-bg);
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 14px;
  font-weight: 400;
  font-family: var(--font-primary);
  /* position: fixed; */
}

.wavesurfer-region {
  border-left: 1px solid var(--color-primary);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 4 !important;
}

.wavesurfer-region.close-to-end {
  justify-content: flex-end;
}

.wavesurfer-region.close-to-start {
  justify-content: flex-start;
}

/* [id^="waveSurfer_sonic_logo_append_"] wave {
  overflow-x: hidden !important;
} */
