.no_filtered_data_text {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: var(--color-white);
}

.page_content .page_project_field {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 250px;
  width: 100%;
}

.page_project_field .page_project_field_header {
  color: var(--color-white);
  display: flex;
}
.page_project_field .page_project_field_labels {
  display: flex;
  font-size: medium;
  gap: 80px;
}
.page_project_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
