.upload_video_wrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.upload_video_container {
  background-color: var(--color-secondary);
  color: var(--color-white);
  height: auto;
  margin: 0 auto 20px;
  border-radius: 25px;
  max-width: 600px;
  padding: 0px 50px;
}

.upload_video_header {
  text-align: center;
  font-size: 22px;
  margin: 40px 0 15px;
}

.upload_video_container .title {
  font-size: 24px;
}
.upload_video_container .sub_title {
  font-size: 16px;
  margin: 15px auto;
  max-width: 365px;
  width: 100%;
  text-align: left;
}

@media only screen and (max-height: 580px) {
  .upload_video_wrapper {
    height: auto;
  }
}
