.dict_modal_header {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-primary);
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.pronunciation_audio_container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 111111111;
  display: none;
}

.dict_modal_sub_header {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: var(--color-white);
  margin: 10px 0px 35px 0px;
}

.dict_data_row {
  display: flex;
  margin: 0px 15px;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.dict_delete_icon {
  width: 22px;
  height: 22px;
  margin: 0 5px;
  cursor: pointer;
}

.action_header {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
  padding-left: 5px;
}

.dict_data_container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
}

.dict_data_container_inner {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
}

.dict_divider {
  width: 1425px;
}

.dict_data_header .ogWord_header {
  width: 205px;
}
.dict_data_header .formatted_word_header {
  width: 200px;
}
.dict_data_header .language_header {
  width: 210px;
}
.dict_data_header .editor_header {
  width: 180px;
}
.dict_data_header .action_header {
  width: 90px;
}
.dict_action_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dict_save_btn {
  height: 28px;
  width: 60px;
  margin: 0px 6px;
}

.dict_btn_container {
  width: 100%;
  text-align: right;
  margin-top: 15px;
}

@media only screen and (max-width: 1100px) {
  .dict_divider {
    width: 1085px;
  }
}
