.DictCell_container {
  /* width: 200px; */
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  /* padding: 10px; */
  border-radius: 10px;
  margin: 5px;
  /* border: 1px solid var(--color-white); */
}
.DictCell_name {
  color: var(--color-white);
  font-size: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disabled_edior_name {
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 1100px) {
  .DictCell_container {
    width: 125px;
  }
}
