.note_container {
  border: 1px solid transparent;
  border-radius: 18px;
  display: flex;
  width: 205px;
}

.note_container span.note {
  flex: 1;
  word-break: break-word;
}

.readMoreBtn {
  font-size: 1.4rem;
  color: var(--color-primary);
  cursor: pointer;
  vertical-align: bottom;
}

.AddCueIdNoteTextArea_container {
  width: 205px;
  border: 1px solid var(--color-white);
  border-radius: 18px;
  padding: 0.5rem;
  min-height: 85px;
  display: flex;
}

.note_container .edit_btn svg,
.AddCueIdNoteTextArea_container .edit_projectName_btn_container .save_btn svg,
.AddCueIdNoteTextArea_container .edit_projectName_btn_container .close_btn svg {
  fill: var(--color-white);
}

.note_container .edit_btn svg {
  width: 13px;
  margin-right: -10px;
}

.AddCueIdNoteTextArea_container
  .edit_projectName_btn_container
  .save_btn:disabled
  svg,
.AddCueIdNoteTextArea_container
  .edit_projectName_btn_container
  .close_btn:disabled
  svg {
  fill: var(--color-secondary-shade11);
}

.AddCueIdNoteTextArea_container .edit_projectdesc_input {
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  outline: none;
  font-style: normal;
  padding: 0.5rem;
  flex: 1;
  resize: vertical;
  width: 100%;
}

.note_container .edit_projectName_btn_container,
.AddCueIdNoteTextArea_container .edit_projectName_btn_container {
  width: 22px;
  height: 22px;
  display: flex;
  flex-direction: column;
}

.note_container .edit_projectName_btn_container button,
.AddCueIdNoteTextArea_container .edit_projectName_btn_container button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
