.sonicButton {
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  width: 175px;
  height: 40px;
  cursor: pointer;
  font-family: var(--font-primary) !important;
  text-transform: capitalize;
}

.sonicButton.outlined {
  background-color: transparent;
  border: 1px solid var(--color-white);
}

.sonicButton.filled {
  background-color: var(--color-primary);
  border: 1px solid transparent;
  color: var(--color-white);
}

.sonicButton.outlined:hover {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.sonicButton:disabled {
  background-color: var(--color-secondary-shade7);
  cursor: not-allowed;
  pointer-events: all !important;
  color: var(--color-secondary-shade11) !important;
  border: 1px solid var(--color-secondary-shade11) !important;
}

.sonicButton.s {
  width: max-content;
  height: auto;
  padding: 5px 10px;
  font-size: 14px;
}

.sonicButton.primary_border {
  color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

@media only screen and (max-width: 1024px) {
  .customBtn {
    font-size: 14px;
    width: 140px;
    height: 35px;
  }
  .sonicButton.s {
    width: max-content;
    height: auto;
  }
}
