.adac .navbar_container {
  background-color: var(--color-primary) !important;
}

.adac .navbar_img {
  max-width: 90px !important;
}

.adac .primary_border {
  color: var(--color-white) !important;
  border-color: var(--color-white) !important;
}

.adac .cue_variant_block .track_tag {
  color: var(--color-white) !important;
}

.adac .nav_link:hover {
  color: #000 !important;
}

.adac .CustomNotificationTopBar_container {
  background-color: var(--color-secondary) !important;
}

/* .adac .CustomNotificationTopBar_text {
  color: #000 !important;
}

.adac .CustomNotificationTopBar_close_btn {
  filter: invert(1);
} */

.adac .nav_links_container .help_icon,
.adac .nav_links_container .profile_icon {
  stroke: #000 !important;
}

.adac .active_nav_link {
  color: #000 !important;
  font-weight: 700 !important;
  text-decoration: underline var(--color-black) 2px !important;
  text-underline-offset: 5px;
}

.adac .inactive_nav_link {
  color: #000 !important;
}

.adac .logout_icon {
  filter: invert(1) !important;
}

.adac button.filled {
  color: #000 !important;
}

.adac .video_upload_v2 .uploaderBlock .uploadBtn {
  color: #000 !important;
}

.adac .video_upload_v2 .uploaderBlock .uploadBtn .uploadImg {
  filter: invert(1) !important;
}

.adac button:disabled {
  color: var(--color-secondary-shade11) !important;
}

.adac .app_version {
  top: 60px !important;
}

.adac #scroll_to_top_btn {
  stroke: #000 !important;
}

.adac .edit_instruments_btn {
  color: #fff !important;
}

.adac .undo_redo_btn span {
  color: #fff !important;
}

.adac .BackButton_container svg {
  fill: #000 !important;
}

.adac .MuiSlider-valueLabel * {
  color: #000 !important;
}
