.shellhomeV2_container {
  margin-top: 20px;
}

.shellhomeV2_container .header {
  margin-top: 25px;
  font-size: 48px;
  color: var(--color-white);
  line-height: 65px;
}

.shellhomeV2_container .sub_header {
  font-size: 18px;
  margin-top: 10px;
}

.shellhomeV2_container .section_header {
  font-size: 20px;
  line-height: 28px;
  margin: 35px 0 15px;
}

.shellhomeV2_container .main_header {
  font-weight: 400;
  font-size: 45px;
  margin: 10px 0px;
}

.shellhomeV2_container .section_header {
  font-size: 16px;
  margin: 35px 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.shellhomeV2_container .section_header svg {
  width: 20px;
  height: 20px;
}

.shellhomeV2_container .projectList_Container {
  width: 100%;
  display: flex;
  gap: 30px !important;
  align-items: flex-end;
}

.shellhomeV2_container .AllProjectButton {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
}

.shellhomeV2_container .AllProjectButton p {
  font-weight: 500;
  width: max-content;
}

.shellhomeV2_container .homeV2_option_container {
  background-color: var(--color-secondary);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 35px;
  width: fit-content;
  margin-bottom: 45px;
}

.shellhomeV2_container .homeV2_option_container .homeV2_option {
  border: 1px solid var(--color-white);
  padding: 25px 35px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.shellhomeV2_container .homeV2_option_container .homeV2_option svg * {
  fill: var(--color-white);
}

.shellhomeV2_container .homeV2_option_container .homeV2_option:hover {
  border: 1px solid var(--color-primary);
}

.shellhomeV2_container .homeV2_option_container .homeV2_option .homeV2_option_title {
  font-size: 16px;
  color: var(--color-white);
}

.shellhomeV2_container .home_projectsList_container {
  width: 100%;
}

.shellhomeV2_container .home_projectsList_container .existing-projects {
  gap: 45px;
}

.footer-dialog.is-first-login_modal {}

.footer-dialog.is-first-login_modal .is-first-login_modal_header {
  display: flex;
}

.footer-dialog.is-first-login_modal .is-first-login_modal_header span {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: var(--font-primary-bold), Helvetica, sans-serif;
  color: #000000;
  flex: 1;
}

.footer-dialog.is-first-login_modal .footer_modal_iframe.is-first-login_iframe {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.footer-dialog.is-first-login_modal .footer_modal_container.is-first-login_modal_container {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}