.nav_links_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_links_left_container {
  display: flex;
  gap: 15px;
}

.nav_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 2px 15px;
  margin: 0px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  cursor: pointer;
  position: relative;
}

.nav_link:hover {
  color: var(--color-primary);
}

.active_nav_link {
  color: var(--color-primary);
}

.inactive_nav_link {
  color: var(--color-white);
}

.nav_link:first-child {
  padding-left: 0px;
}

.nav_link:last-child {
  padding-right: 0px;
  margin-right: -3px;
}

.nav_links_container .disabled_nav_link.nav_link {
  opacity: 0.5;
  cursor: not-allowed;
}

.nav_links_container .disabled_nav_link.nav_link:hover {
  color: var(--color-white);
}

.nav_links_right_container {
  display: flex;
  gap: 20px;
  align-items: center;
}
