.homeV2_container {
  margin-top: 20px;
}

.homeV2_container .header {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeV2_container .sub_header {
  font-size: 16px;
  margin: 0px 0px 20px;
}

.homeV2_container .main_header {
  font-weight: 400;
  font-size: 45px;
  margin: 10px 0px;
}

.homeV2_container .section_header {
  font-size: 16px;
  margin: 35px 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.homeV2_container .section_header svg {
  width: 20px;
  height: 20px;
}

.homeV2_container .projectList_Container {
  width: 100%;
  display: flex;
  gap: 30px !important;
  align-items: flex-end;
}

.homeV2_container .AllProjectButton {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
}

.homeV2_container .AllProjectButton p {
  font-weight: 500;
  width: max-content;
}

.homeV2_container .homeV2_option_container {
  background-color: var(--color-secondary);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 35px;
  width: fit-content;
  margin-bottom: 45px;
}

.homeV2_container .homeV2_option_container .homeV2_option {
  border: 1px solid var(--color-white);
  padding: 25px 35px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.homeV2_container .homeV2_option_container .homeV2_option svg * {
  fill: var(--color-white);
}

.homeV2_container .homeV2_option_container .homeV2_option:hover {
  border: 1px solid var(--color-primary);
}

.homeV2_container .homeV2_option_container .homeV2_option .homeV2_option_title {
  font-size: 16px;
  color: var(--color-white);
}

.homeV2_container .home_projectsList_container {
  width: 100%;
}

.homeV2_container .home_projectsList_container .existing-projects {
  gap: 45px;
}
