.custom_search_container {
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 50px;
  width: 100%;
  height: 50px;
  color: var(--color-white);
  display: flex;
  align-items: center;
}

.custom_search_container .custom_search {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 45px;
  color: var(--color-white);
  font-size: 16px;
}

.custom_search_container .custom_search:focus-visible {
  border: none;
  outline: none;
}

.custom_search_container .search_icon {
  width: 30px;
  height: 30px;
  margin: 0 15px 0 20px;
}
