.unauthorizedPage_wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unauthorizedPage_wrapper .header_container {
  margin: 45px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unauthorizedPage_wrapper .sub_header {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 5px;
}
