.creationStation_homePage_wrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.creationStation_homePage_wrapper .btns_container {
  margin: 40px 40px 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.creationStation_homePage_wrapper .creationStation_homePage_container {
  background-color: var(--color-secondary);
  color: var(--color-white);
  width: max-content;
  height: auto;
  margin: 0 auto 20px;
  border-radius: 25px;
  max-width: 600px;
  padding: 0 30px;
}

.creationStation_homePage_wrapper .creationStation_homePage_header {
  text-align: center;
  font-size: 20px;
  margin: 40px 0 30px 0;
}

.creationStation_homePage_wrapper .Selected {
  border: 2px solid var(--color-primary) !important;
}

.creationStation_homePage_wrapper .creationStation_homePage_option_container {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.creationStation_homePage_wrapper .creationStation_homePage_option {
  flex: 1;
  border: 1px solid var(--color-white);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px 20px 0px 20px;
  width: 100%;
  max-width: 150px;
  min-width: 70px;
}

.creationStation_homePage_wrapper .creationStation_homePage_option.selected {
  border: 1px solid var(--color-primary);
}

.creationStation_homePage_wrapper .creationStation_homePage_option_img {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.creationStation_homePage_wrapper
  .creationStation_homePage_option_icon_container
  svg {
  margin-top: 25px;
  height: 100px;
  width: 100px;
}

.creationStation_homePage_wrapper .creationStation_homePage_option_title {
  font-size: 16px;
  margin: 15px 0px;
  color: var(--color-white);
}

.creationStation_homePage_wrapper
  .creationStation_homePage_option.selected
  .creationStation_homePage_option_title {
  color: var(--color-primary);
}

.creationStation_homePage_wrapper .creationStation_homePage_Footer_link {
  text-align: center;
  font-size: 16px;
  margin: 40px 0 30px 0;
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
}

.creationStation_homePage_wrapper
  .creationStation_homePage_option.disabled
  .creationStation_homePage_option_title {
  color: var(--color-secondary-shade11) !important;
}

.creationStation_homePage_wrapper
  .creationStation_homePage_option.disabled
  svg {
  fill: var(--color-secondary-shade11) !important;
}

.creationStation_homePage_wrapper .creationStation_homePage_option.disabled {
  border: 1px solid var(--color-secondary-shade11) !important;
  cursor: not-allowed;
  display: none; /*hide option if disabled*/
}

@media only screen and (max-width: 1024px) {
  .creationStation_homePage_wrapper .creationStation_homePage_option {
    max-width: 135px;
  }
}

@media only screen and (max-height: 475px) {
  .creationStation_homePage_wrapper {
    height: auto;
  }
}
