.AIMusicGenerator_container {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-white);
  padding: 30px 10px;
}

.AIMusicGenerator_container .content {
  max-width: 1200px;
  margin: 0 auto;
}

.AIMusicGenerator_container .header {
  text-align: center;
  max-width: 675px;
  margin: 0 auto 45px;
}

.AIMusicGenerator_container .header h1 {
  font-size: 24px;
  font-weight: 600;
}

.AIMusicGenerator_container .header .subtitle {
  font-size: 16px;
  margin: 35px auto 30px;
}

.AIMusicGenerator_container .header .option_selection_title {
  font-weight: 700;
  font-size: 16px;
}

.AIMusicGenerator_container .cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

.AIMusicGenerator_container .card {
  background-color: var(--color-secondary);
  border-radius: 10px;
  padding: 45px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border: 1px solid transparent;
}

.AIMusicGenerator_container .card#video {
  cursor: not-allowed;
  pointer-events: none;
}

.AIMusicGenerator_container .card:hover {
  border: 1px solid var(--color-primary);
}

.AIMusicGenerator_container .card-icon {
  margin-bottom: 10px;
}

.AIMusicGenerator_container .card-icon svg {
  width: 35px;
  height: 35px;
}

.AIMusicGenerator_container .card h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
}

.AIMusicGenerator_container .card > p {
  font-size: 14px;
  line-height: 1.5;
}

.AIMusicGenerator_container .back-link {
  display: inline-flex;
  align-items: center;
  color: #9e9e9e;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.AIMusicGenerator_container .back-link svg {
  height: 16px;
  width: 16px;
  fill: #9e9e9e;
}

@media (min-width: 768px) {
  .AIMusicGenerator_container .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
