.drop_container .MuiBox-root {
  width: 100% !important;
  margin: 0px;
  gap: 25px;
}

.drop_container .MuiSlider-root {
  left: 0% !important;
}

.drop_container .MuiSlider-root.Mui-disabled {
  color: var(--color-secondary-shade6) !important;
  opacity: 0.75 !important;
}

/* .drop_slider_wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.drop_slider_wrapper.dropSliderVisible {
  max-height: 500px;
  opacity: 1;
} */

.drop_start_img {
  position: absolute;
  left: -12px;
  z-index: 1;
  /* scale: 0.5; */
}

.drop_end_img {
  position: absolute;
  right: -12px;
  z-index: 1;
  /* scale: 0.5; */
}

.drop_slider_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.drop_slider_container p {
  font-size: 14px;
  color: var(--color-white);
  width: 65px;
}

.drop_slider_wrapper {
  width: calc(100% - 75px);
  position: relative;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}
