.ss_textarea_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-top: 10px; */
}

.ss_textarea_label {
  margin-bottom: 0px;
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  text-align: left;
}

.ss_textarea_wrapper {
  border-radius: 25px;
  border: 1px solid var(--color-white);
  width: 100%;
  padding-right: 10px;
  overflow: hidden;
}

.ss_textarea {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  color: var(--color-white);
  resize: vertical;
  min-height: 100px;
  width: 100%;
  border: none;
  outline: none;
}

.ss_textarea.filled {
  background-color: var(--color-white);
  color: #000;
  border: 1px solid transparent;
}

.ss_error_msg {
  margin: 8px 0;
  font-size: 1.4rem;
  color: red;
}
