.dashboard-wavesurfer {
  background: var(--color-secondary);
  border-radius: 20px;
  height: 200px;
  width: 100%;
  margin: auto;
}
.dashboard-wave {
  width: 90%;
  position: relative;
  top: -15%;
  left: 7.5%;
}

.dashboard-timestamp {
  position: relative;
  left: -0.25%;
  top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-selection {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  left: 102%;
  top: -140px;
}

.play-btn {
  position: relative;
  left: 0.5%;
  width: 10px;
  margin-left: 0%;
  border: 0.1 rem var(--color-white);
  border-radius: 20px;
}

.dashboard-curr-time {
  color: var(--color-primary);
}
.dashboard-duration {
  position: relative;
  left: -5%;
  color: var(--color-white);
}

.Drop-Point {
  margin-top: 2%;
  margin-left: 0.5%;
  border-radius: 20px;
  font-size: 14px;
  height: 100px;
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-secondary);
}
.Drop-Point p {
  font-size: 16px;
  position: relative;
  top: 40px;
  left: 10px;
}
.drop {
  position: relative;
  top: 10px;
  margin-top: 20px;
  color: var(--color-white);
}

label {
  font-size: 14px;
  vertical-align: middle;
}

.ending {
  color: var(--color-white);
  position: relative;
  left: 85%;
  display: flex;
  flex-direction: row;
}

.dashboard-panel-btn-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 15px;
}

.dashboard-panel-btn-container .btn-left {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.instrument-panel {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 25px;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

.instrument-wavesurfer {
  border-radius: 10px;
  width: 45%;
  display: flex;
  align-items: center;
  margin: 8px 0px;
  gap: 10px;
}

.playpause {
  width: 20px;
  height: 20px;
}

.tuners {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.tuners button {
  border: 1px solid var(--color-white);
  gap: 20px;
  color: var(--color-white);
}

.dashboard_layout_container .left_dashboard_layout_container {
  flex: 1;
}

.dashboard_layout_container .right_dashboard_layout_container {
  width: 30vw;
  position: relative;
  left: -25%;
}

.divider_work_space_layout_container {
  width: 5px;
  background-color: var(--color-white);
  cursor: grab;
}

.edit_instruments_btn.sonicButton.filled {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}

.edit_instruments_btn svg {
  stroke: var(--color-white);
  transition: rotate 0.3s;
}

.edit_instruments_btn.sonicButton.filled:disabled,
.edit_instruments_btn.sonicButton.filled:disabled span,
.edit_instruments_btn.sonicButton.filled:disabled svg {
  color: var(--color-secondary-shade11) !important;
  stroke: var(--color-secondary-shade11) !important;
  background-color: var(--color-secondary-shade7) !important;
}

.undo_redo_btn.sonicButton.filled {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}

.undo_redo_btn_content,
.edit_instruments_btn_content {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 1024px) {
  .instrument-wavesurfer {
    width: 100%;
  }
}
