.CSTOSS_transfer_success_modal_container {
  /* padding: 40px 50px; */
  max-width: 650px;
}

.CSTOSS_transfer_success_modal_container .transfer_success_message_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  color: var(--color-white);
  font-size: 16px;
  line-height: 22.5px;
}

.CSTOSS_transfer_success_modal_container .transfer_success_message_bold {
  font-weight: bold;
}

.CSTOSS_transfer_success_modal_container
  .CSTOSS_transfer_success_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 45px;
}

.CSTOSS_transfer_success_modal_container
  .CSTOSS_transfer_success_btn_container
  button {
  width: 80%;
  padding: 0px 25px;
}
