.style-selector {
  margin-bottom: 25px;
}

.style-selector__title {
  color: var(--color-white);
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: bold;
}

.style-selector__options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.style-selector__button {
  background-color: var(--color-style-selection-bg);
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
}

.style-selector__button--selected {
  background-color: var(--color-white);
  color: var(--color-bg);
}
