.custom_tooltip {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-white);
}

.MuiTooltip-tooltip {
  background-color: var(--color-bg) !important;
  border: 1px solid var(--color-white) !important;
  border-radius: 8px !important;
}

.MuiTooltip-arrow::before {
  background-color: var(--color-bg) !important;
  border: 1px solid var(--color-white) !important;
}
