.navbar_container {
  height: 80px;
  overflow: hidden;
  display: flex;
  gap: 0px;
  align-items: center;
  padding: 0px;
  background: var(--color-bg);
  z-index: 100;
  position: relative;
  width: 100%;
  padding-right: 3vw;
  top: 0;
  left: 0;
}

.navbar_left {
  display: flex;
  align-items: center;
  width: 7vw;
  justify-content: center;
}

.nav_logo_text {
  font-size: 18px;
  font-weight: 600;
  padding-right: 25px;
}

.navbar_right {
  flex: 1 0 86vw;
}

.navbar_img {
  max-width: 55px;
  width: 85%;
}

.WebNavbar--anchor {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
