.project_modal_container .project_modal__duration_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin: 25px 0;
}

.project_modal_container .project_modal_btn_container {
  padding: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.project_modal_container .Form_radio_container {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.edit_project_meta_btn {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.edit_project_meta {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.edit_project_meta .projectName {
  font-weight: 700;
  font-size: 14px;
}
.edit_project_meta .projectDuration {
  font-weight: 400;
  font-size: 14px;
}

.edit_project_meta_icon {
  display: flex;
  gap: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-card);
  border-radius: 50px;
  padding: 8px;
}
