.brand_tag_modal_container {
  padding-bottom: 10px;
  padding-top: 5px;
  width: fit-content;
  /* background-color: var(--color-secondary); */
  background-color: transparent;
  border-radius: 15px;
}

.brand_tag_modal_container .header {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: var(--color-white);
  text-align: center;
  margin: 50px 0px 18px;
}

.brand_tag_modal_container .sub_header {
  font-size: 16px;
  color: var(--color-white);
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.brand_tag_modal_container .and_container {
  width: calc(100% - 100px);
  height: 20px;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.brand_tag_modal_container .and_container .line {
  flex-grow: 1;
  background-color: var(--color-white);
  height: 2px;
}

.brand_tag_modal_container .and_container .text {
  font-weight: 400;
  font-size: 22px;
  color: var(--color-white);
  padding: 0px 12px;
}

.brand_tag_modal_container .selection_container_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 70px;
}

.brand_tag_modal_container .selection_container_block.tempo_block {
  gap: 30px;
}

.brand_tag_modal_container .selection_container_block .tempo_btn {
  height: 50px !important;
  width: 220px !important;
  text-transform: capitalize;
}
.brand_tag_modal_container
  .selection_container_block
  .tempo_btn.selected_tempo {
  border: 1px solid var(--color-primary) !important;
  color: var(--color-primary) !important;
}

.brand_tag_modal_container .selection_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.brand_tag_modal_container .selection_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 115px;
  border-radius: 115px;
}

.brand_tag_modal_container .selection_icon {
  width: 109px;
  height: 109px;
  border-radius: 109px;
}

.brand_tag_modal_container .activeSelection {
  background-color: var(--color-primary);
}

.brand_tag_modal_container .selection_label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  margin-top: 8px;
  /* text-transform: capitalize; */
}

.brand_tag_modal_container .btn_container {
  margin: 30px 70px 15px;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media only screen and (max-width: 1080px) {
  .brand_tag_modal_container .selection_container_block {
    margin: 0 30px;
  }
  .brand_tag_modal_container .btn_container {
    margin: 30px 30px 15px;
  }
  .brand_tag_modal_container .selection_icon_container {
    width: 90px;
    height: 90px;
  }
  .brand_tag_modal_container .selection_icon {
    width: 86px;
    height: 86px;
    border-radius: 86px;
  }
  .brand_tag_modal_container .btn_container .customBtn {
    width: 185px !important;
  }
  .brand_tag_modal_container .selection_container_block.tempo_block {
    gap: 20px;
  }
  .brand_tag_modal_container .selection_container_block .tempo_btn {
    height: 40px !important;
    width: 160px !important;
  }
}
